# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/

# Environment variables / secrets
.env
backend/.env
frontend/.env
frontend/.env.local

# Node
frontend/node_modules/

# Vite
frontend/dist/

# macOS
.DS_Store

# VS Code
.vscode/backend/.env
backend/venv/
frontend/node_modules/
